- title "Edit <%= singular_name.titleize %>"

- form_for @<%= singular_name %> do |f|
  = f.error_messages
  <%= render_form %>
  %p
    = f.submit "Update"

<%- if actions? :show, :index -%>
%p
  <%- if action? :show -%>
  = link_to "Show", <%= singular_name %>_path(@<%= singular_name %>)
  |
  <%- end -%>
  <%- if action? :index -%>
  = link_to "View All", <%= plural_name %>_path
  <%- end -%>
<%- end -%>
