<%% title "New <%= singular_name.titleize %>" %>

<%% form_for @<%= singular_name %> do |f| %>
  <%%= f.error_messages %>
  <%= render_form %>
  <p><%%= f.submit "Create" %></p>
<%% end %>

<%- if action? :index -%>
<p><%%= link_to "Back to List", <%= plural_name %>_path %></p>
<%- end -%>
